{%load static%}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/main.css'%}">
    <title>Home</title>
</head>
<body>
    <h1>home_view</h1>

    <a id="logout_link" href="{%url 'logout_page'%}">Logout</a>

    <form method="post"> {%csrf_token%}
        <div id="create_post">
            <input type="text" name="tytul">
            <input type="text" name="zawartosc">
            <input type="submit" value="Create Post">
        </div>
    </form> 

    <div class="posty">
        {%for post in posty%}
            <label>Tytul: </label>{{post.tytul}} </br>
            <label>Autor: </label>{{post.autor}} </br>
            <label>Zawartosc: </label>{{post.zawartosc}} </br>
        {%endfor%}
    </div>

    <div class="errory">
        {%if messages%}
            {%for message in messages%}
                <label class="error_mes">{{message}}</label></br>
            {%endfor%}
        {%endif%}
    </div>
</body>
</html>